@(title: String, isLogin: Boolean = false, scripts: Html = Html(""))(content: Html)(implicit request: RequestHeader)

<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>@title</title>

            <!-- Bootstrap Core CSS -->
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin/admin.css")">

            <!-- Custom Fonts -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

            <!--[if lt IE 9]>

            <script src="@routes.Assets.at("javascripts/admin/html5shiv.js")"/>
            <script src="@routes.Assets.at("javascripts/admin/respond.min.js")/">

            <![endif]-->

    </head>
    <body>
        @if(!isLogin) {
                @admin.menu()
        }
        @content
        <script src="@routes.Assets.at("javascripts/admin/jquery.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/admin/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/admin/metisMenu.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/admin/admin.js")"></script>
    </body>
</html>