@()(implicit request: RequestHeader)
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">ControlMed</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">ControlMed - Administration</a>
    </div>
    <ul class="nav navbar-top-links navbar-right">
        Bonjour @request.session.get("email")
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="@routes.SecureZone.logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                </li>
            </ul>
                <!-- /.dropdown-user -->
        </li>
    </ul>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="@routes.Comments.index"><i class="fa fa-bar-chart-o fa-fw"></i> Messages reçus</a>
                </li>
                <li>
                    <a href="@routes.Comments.contentPage"><i class="fa fa-dashboard fa-fw"></i> Gestion du contenu</a>
                </li>
            </ul>
        </div>
    </div>
</nav>