@(entreprise: io.prismic.Document)
@scripts = {
    <script type="text/javascript">$('#accordion').accordion({heightStyle: 'panel'});</script>
}

@main("Entreprise", scripts) {
    <div class="eco_inner_page_container padder_top_60 padder_bottom_60">
        <div class="container">
            <div id="accordion" class="padder_bottom_70">
            @for(group <- entreprise.getGroup("presentation.Presentation").getDocs()) {
                @Html(group.getHtml("Title", prismic.getLinkResolver()))
                <div>
                    @Html(group.getHtml("body", prismic.getLinkResolver()))
                </div>
            }
            </div>


        </div>
    </div>
}