
@main("Evènements") {
    <div class="eco_inner_page_container padder_top_60 padder_bottom_60">
        <div class="container">
            <div id="accordion" class="padder_bottom_70">
                <h1>11 et le 12 mars 2015</h1>
                <div>
                    Participation au salon de l’entreprenariat le 11 et le 12 mars 2015 au siège de l’Utica
                </div>
                <h1>20 et le 21 avril 2015</h1>
                <div>
                    Participation au Premier Symposium National sur la Protection Intégrée des Plantes

                    (SYNPIP-2015) le 20 et le 21 avril 2015 à l’hôtel Hôtel Marhaba Palace Sousse
                </div>
                <h1>6 au 8 mai 2015</h1>
                <div>
                    Participation au BIO EXPO 2015 6ème Edition du Salon International de l'Agriculture

                    Biologique et des Industries Alimentaires du 6 au 8 mai 2015 au siège de l’UTICA <a href="@routes.Application.bioExpo()" style="color:#94bb54;">(Plus de détails)</a>
                </div>
                <h1>14 au 16 mai 2015</h1>
                <div>
                    Participation au Premier Congrès International Green Business and Sustainable

                    Development du 14 au 16 mai 2015 à Hammamet
                </div>

            </div>


        </div>
    </div>
}