<div class="eco_footer">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="eco_footer_data">

                <h6 class="eco_footer_content" style="font-size: xx-large">ControlMed</h6>
                <div class="eco_footer_content">
                    <p>Société spécialisée en Protection des Plantes et de l’Environnement</p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="eco_footer_data">
                <h6 class="eco_footer_title"> A propos</h6>
                <div class="eco_footer_content">
                    <div class="eco_footer_content">
                        <p class="padder_bottom_10">Résidence La Colombe, rue Ibn Batouta 2015 - Le Kram</p>
                        <p><b>Phone:</b> (+216) 31 401 561
                            <br>
                        </p>
                        <p><b>Email:</b> contact@@controlmed.tn</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<footer>
    <div class="eco_copyight"> ControlMed @@2015 by <a href="#" class="eco_color5">Actinove</a> </div>
</footer>

<div class="totop">
    <div class="gototop">
        <a href="#">
            <div class="arrowgototop"> </div>
        </a>
    </div>
</div>