<div class="eco_footer">
    <div class="container">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="eco_footer_data">
                <a href="#" class="eco_footer_title"><img src="@routes.Assets.at("images/ecorecycling-logo-footer.png")" class="img-responsive" alt="">
                </a>
                <div class="eco_footer_content">
                    <p>Lorem ipsum dolor sit amet, consec tuer adipiscing elit, sed diam nonum nibh euismod. <b>Lotuer adipiscing</b> elit, sed diam nibh eu.</p>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <div class="eco_footer_data">
                <h6 class="eco_footer_title"> about us</h6>
                <div class="eco_footer_content">
                    <div class="eco_footer_content">
                        <p class="padder_bottom_10"><b>Eco</b>, 1000 Ljubljana Celovska 135</p>
                        <p><b>Phone:</b> (+386) 40 123 456
                            <br>
                        </p>
                        <p><b>Email:</b> info@@recyclingeco.com</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<footer>
    <div class="eco_copyight"> Eco Recycling @@2014 by <a href="http://himanshusofttech.com/" class="eco_color5">Himanshusofttech</a> </div>
</footer>

<div class="totop">
    <div class="gototop">
        <a href="#">
            <div class="arrowgototop"> </div>
        </a>
    </div>
</div>