<header>
    <div class="container">
        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
            <div class="eco_logo">
                <a href="@routes.Application.index()">
                    <div class="eco_info">
                    <div class="eco_ph padding_lr" style="font-size:xx-large">ControlMed</div><!--img src="@routes.Assets.at("images/logo.png")" class="img-responsive" alt=""-->
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12  pull-right">
            <div class="eco_info">
                <div class="eco_ph padding_lr"><i class="fa fa-phone"></i>(+216) 31 401 561</div>
                <div class="eco_email"><i class="fa fa-envelope"></i>contact@@controlmed.tn</div>
            </div>
        </div>
    </div>
</header>