@(message: String)

@main("Accueil") {

    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>

                    <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="800" data-saveperformance="off">
                        <!-- MAIN IMAGE -->
                    <img src="@routes.Assets.at("images/main_slider/dummy.png")" alt="laptopmockup_sliderdy" data-lazyload="@routes.Assets.at("images/bg_f2.png")" data-bgposition="center bottom" data-kenburns="on" data-duration="10000" data-ease="Power3.easeInOut" data-bgfit="100" data-bgfitend="100" data-bgpositionend="center bottom">
                        <!-- LAYERS -->

                        <!-- LAYER NR. 1 -->
                    <div class="tp-caption big_caption_9 tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="-70" data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;"></div>

                        <!-- LAYER NR. 2 -->
                    <div class="tp-caption big_caption_9 tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="30" data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;"></div>

                        <!-- LAYER NR. 3 -->
                    <div class="tp-caption tp-fade tp-resizeme  contact-eco-button" data-x="center" data-hoffset="0" data-y="center" data-voffset="200" data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><a id ="button-evt" href="@routes.Application.bioExpo()">PROCHAIN EVENEMENT</a> </div>
                </li>
                    <!-- SLIDE  -->
                <!--li data-transition="fade" data-slotamount="7" data-masterspeed="800" data-saveperformance="off">
                    <img src="@routes.Assets.at("images/main_slider/dummy.png")" alt="laptopmockup_sliderdy" data-lazyload="@routes.Assets.at("images/Syrphe.jpg")" data-bgposition="center bottom" data-kenburns="on" data-duration="14000" data-ease="Power3.easeInOut" data-bgfit="115" data-bgfitend="100" data-bgpositionend="center bottom">

                    <div class="tp-caption big_caption_9 tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="-70" data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;">Puisons le meilleur </div>

                    <div class="tp-caption big_caption_9 tp-fade tp-resizeme" data-x="center" data-hoffset="0" data-y="center" data-voffset="30" data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 3; max-width: auto; max-height: auto; white-space: nowrap;">de la nature  </div>

                    <div class="tp-caption tp-fade tp-resizeme  contact-eco-button" data-x="center" data-hoffset="0" data-y="center" data-voffset="130" data-speed="1000" data-start="800" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" data-endspeed="300" style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><a href="@routes.Comments.showCreationForm()">GET IN TOUCH</a> </div>
                </li-->
            </ul>
            <div class="tp-bannertimer"></div>
        </div>
    </div>

    <!--div class="wraper">
        <div class="container">
            <div class="eco_main_heading">
                <h1 class="text-center"> <strong><span>CONTROL</span><span class="eco_color"></span><span>MED </span></strong><strong><span class="eco_color"> NOS SERVICES</span></strong> </h1>
                <div class="eco_small_text text-center">Voulez-vous protéger vos cultures et vos denrées stockées tout en respectant l'environnement ?</div>
                <div class="eco_small_text text-center">Vous souciez vous de votre santé et de celle de vos clients ?</div>
                <div class="eco_small_text text-center">Nous vous offrons des solutions naturelles, locales & efficaces !</div>
            </div>
        </div>
    </div>
    <div class="eco_service_wraper">
        <div class="container">
            <div class="eco_service text-center">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="eco_home_service" data-scrollreveal="enter from the left over 1s">
                        <div class="eco_service_icon">
                            <a href="#" class="eco_transition"> <i class="fa fa-search-plus"></i> </a>
                        </div>
                        <div class="eco_service_text">
                            <h5> R&D </h5>
                            <div class="eco_service_data">Nouvelles solutions locales en protection biologique des plantes</div>
                            <div class="eco_service_data">Mise en application des acquis de la recherche</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="eco_home_service" data-scrollreveal="enter from the bottom over 1s">
                        <div class="eco_service_icon">
                            <a href="#" class="eco_transition"> <i class="fa fa-tree"></i> </a>
                        </div>
                        <div class="eco_service_text">
                            <h5> ELEVAGE </h5>
                            <div class="eco_service_data">Elevages en masse modernes, optimisés et normalisés</div>
                            <div class="eco_service_data">Produits fiables et adaptés aux problèmes de l'agriculture tunisienne</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="eco_home_service" data-scrollreveal="enter from the bottom over 1s">
                        <div class="eco_service_icon">
                            <a href="#" class="eco_transition"> <i class="fa fa-leaf"></i> </a>
                        </div>
                        <div class="eco_service_text">
                            <h5> ENVIRONNEMENT </h5>
                            <div class="eco_service_data">Industrie propre, produits naturels et packagings biodégradables</div>
                            <div class="eco_service_data">Contribution à la préservation de l'équilibre des agro-écosystèmes</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="eco_home_service" data-scrollreveal="enter from the right over 1s">
                        <div class="eco_service_icon">
                            <a href="#" class="eco_transition"> <i class="fa fa-leaf"></i> </a>
                        </div>
                        <div class="eco_service_text">
                            <h5> SAV </h5>
                            <div class="eco_service_data">Accompagnement et conseil</div>
                            <div class="eco_service_data">Formation</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div-->

    <div class="wraper">
        <div class="container">
            <div class="eco_main_heading">
                <h1 class="text-center"> <strong><span>NOS PARTENAIRES</span> </strong></h1>
            </div>
        </div>
    </div>
    <div class="eco_contactadd_slider">
        <div class="container">
            <div class="slider4">
                <div class="slide"><img src="@routes.Assets.at("images/apii.jpg")" alt="">
                </div>
                <div class="slide"><img src="@routes.Assets.at("images/ird.jpg")" alt="">
                </div>
                <div class="slide"><img src="@routes.Assets.at("images/marseille.jpg")" alt="">
                </div>
                <div class="slide"><img src="@routes.Assets.at("images/zitouna.jpg")" alt="">
                </div>
            </div>
            </div>
        </div>

}
