<li class="eco_pos_rel"><a href="@routes.Application.index()">Accueil</a>
</li>

<li class="eco_pos_rel"><a href="@routes.Application.entreprise()">Entreprise</a>
</li>

<li class="eco_pos_rel"><a href="@routes.Application.produits()">Produits</a>
</li>

<li class="eco_pos_rel"><a href="@routes.Application.events()">Evènements</a>
</li>

<li class="eco_pos_rel"><a href="@routes.Application.partners()">Partenaires</a>
</li>

<li class="eco_pos_rel"><a href="@routes.Comments.showCreationForm">Contact</a>
</li>