
@main("Partenaires") {
    <div class="eco_inner_page_container padder_top_60 padder_bottom_60">
        <div class="container">


            <br/><br/>
                <div class="eco_mix_grid" id="grid">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 eco_mbottom_20 featured news mix mix_all">
                        <div class="eco_port_min">
                            <div class="eco_port_min_recentimage padder_top_20 padder_bottom_30">
                                <h5 class="eco_blog_min_title"><a href="#">IRD, France</a></h5>
                                <div class="eco_blog_min_cat"><a href="http://www.ird.fr/">Institut de Recherche pour le développement</a></div>
                                <div class="eco_blog_min_text">Amorçage du projet et accompagnement de

                                    lancement depuis 2011 (aide financière,  offre de prestation, offre de

                                    formation, …)</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 eco_mbottom_20 featured news mix">
                        <div class="eco_port_min">
                            <div class="eco_port_min_recentimage padder_top_20 padder_bottom_30">
                                <h5 class="eco_blog_min_title"><a href="#">APII, Tunisie</a></h5>
                                <div class="eco_blog_min_cat"><a href="http://www.tunisieindustrie.nat.tn/fr/home.asp">Agence de Promotion de l’Industrie et de l’Innovation</a></div>
                                <div class="eco_blog_min_text">Accompagnement du projet

                                    de l’idée à la concrétisation depuis 2011<br/><br/></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 eco_mbottom_20 featured news mix">
                        <div class="eco_port_min">
                            <div class="eco_port_min_recentimage padder_top_20 padder_bottom_30">
                                <h5 class="eco_blog_min_title">Marseille Innovation, France</h5>
                                <div class="eco_blog_min_cat"><a href="http://www.marseille-innov.org/">Marseille Innovation</a></div>
                                <div class="eco_blog_min_text">Accompagnement du projet et mise

                                    disposition d’experts dans tous les domaines depuis 2011<br/><br/></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 eco_mbottom_20 featured news mix">
                        <div class="eco_port_min">
                            <div class="eco_port_min_recentimage padder_top_20 padder_bottom_30">
                                <h5 class="eco_blog_min_title"><a href="#">Institut de l’Olivier de Sfax, Tunisie</a></h5>
                                <div class="eco_blog_min_cat"><a href="http://www.iosfax.agrinet.tn/">Institut de l’Olivier de Sfax</a></div>
                                <div class="eco_blog_min_text">Transfert de technicité et

                                    scientifique du projet (aide à la mise en place de l’unité de production et au

                                    développement du processus de production), convention bilatérale signée en

                                    2014</div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
}