
@main("Produits") {
    <div class="eco_inner_page_container padder_top_60 padder_bottom_60">
        <div class="container">
            <i>ControlMed</i> produit des solutions d’origine naturelle (insectes, acariens et microorganismes) alternatives aux pesticides, adaptées aux agro-écosystèmes

            méditerranéens et respectueuses de l’environnement. A l’heure actuelle nos deux produits phares sont :

            <br/><br/>
                <div class="eco_mix_grid" id="grid">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 eco_mbottom_20 featured news mix mix_all">
                        <div class="eco_port_min">
                            <div class="eco_port_min_recentimage padder_top_20 padder_bottom_30">
                                <h5 class="eco_blog_min_title"><a href="#">Oeufs irradiés</a></h5>
                                <div class="eco_blog_min_text">  <br/>Les œufs irradiés frais et congelés de la pyrale de la farine <i>Ephestia kuehniella</i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 eco_mbottom_20 featured news mix">
                        <div class="eco_port_min">
                            <div class="eco_port_min_recentimage padder_top_20 padder_bottom_30">
                                <h5 class="eco_blog_min_title"><a href="#">Trichogrammes</a></h5>
                                <div class="eco_blog_min_text">  <br/>Les trichogrammes: souche tunisienne</div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
}